.categories {
    display: flex;
    font-size: 14px;
    color: black;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    height: 30px;
    width: 90px;
    font-family: sans-serif;
}

.categories__row {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 10px 10px;
    border-color: black;
}
