.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    color: #606060;
    margin-top: 0px;
}

.header__logo {
    height: 20px;
    object-fit: contain;
    margin-left: 25px;

}

.header__input {
    display: flex;
    align-items: center;
    width: 50%;
    border: 1px solid lightgray;
}

.header__icon{
   margin-right: 10px;
   padding-left: 20px;
}

.header__inputButton {
    width: 90px;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__input > input{
    flex: 1;
    border: none;
}